<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>
		Germinate web server
	</display-name>

	<servlet>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>jhi.germinate.server.Germinate</param-value>
		</init-param>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<servlet-name>Germinate</servlet-name>
	</servlet>

	<!-- LISTENERS -->
	<servlet-mapping>
		<servlet-name>Germinate</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

</web-app>